<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="MyCo-3-0.59">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import MyCo-3-0.59 urdf file -->
    <xacro:include filename="$(find myco_description)/urdf/MyCo-3-0.59.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="MyCo-3-0.59.ros2_control.xacro" />


    <xacro:MyCo-3-0.59_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
